.button {
  .font-basic();
  font-size: 18px;
  line-height: 20px;
  color: @color-medium;
  text-transform: uppercase;
  padding: 16px 0;
  border: 2px solid @color-medium;
  text-align: center;

  &:hover {
    color: @color-light;
    background-color: @color-medium;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: @tablet-width) {
    font-size: 17px;
  }
}
