.about-us__container {
  padding: 31px 0 8px 0;
  margin: 0 30px;

  @media (min-width: @tablet-width) {
    padding: 50px 0 29px 0;
    margin: 0 50px;
  }

  @media (min-width: @desktop-width) {
    width: 697px;
    margin: 0 auto;
    padding: 58px 0 36px 0;
  }
}

.about-us__title {
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    margin-bottom: 40px;
  }
}

.about-us__list {
  .list-reset();

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.about-us__item {
  padding-top: 51px;
  margin-bottom: 32px;
  position: relative;

  @media (min-width: @tablet-width) {
    padding-top: 60px;
    margin-bottom: 51px;
  }
}

.about-us__item::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 40px;
  top: -3px;
  left: -8px;
}

.about-us__item--flower::before {
  background-image: url("../img/flower.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.about-us__item--money::before {
  background-image: url("../img/money.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.about-us__item--heart::before {
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.about-us__item--thread::before {
  background-image: url("../img/thread.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.about-us__item--rocket::before {
  background-image: url("../img/rocket.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.about-us__item--gift::before {
  background-image: url("../img/gift.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.about-us__item--flower {
  @media (min-width: @tablet-width) {
    order: -5;
  }
}

.about-us__item--thread {
  @media (min-width: @tablet-width) {
    order: -4;
  }
}

.about-us__item--money {
  @media (min-width: @tablet-width) {
    order: -3;
  }
}

.about-us__item--rocket {
  @media (min-width: @tablet-width) {
    order: -2;
  }
}

.about-us__descr {
  .font-basic();
  font-size: 17px;
  line-height: 20px;
  color: @color-dark;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 22px;
  }
}
