.group-type {
  padding-bottom: 7px;
  margin: 0 30px;

  @media (min-width: @tablet-width) {
    padding-bottom: 0;
    margin: 0 50px;
    display: flex;
    align-items: start;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    width: 1050px;
  }
}

.group-type__title {
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    margin-right: 150px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    margin-right: 116px;
  }
}

.group-type__list {
  @media (min-width: @tablet-width) {
    padding-top: 8px;
  }
}

.group-type__item {
  margin-bottom: 24px;

  @media (min-width: @tablet-width) {
    margin-bottom: 37px;
  }
}
