.group-comment {
  margin: 0 30px;
  padding-top: 34px;

  @media (min-width: @tablet-width) {
    margin: 0 50px;
    display: flex;
  }

  @media (min-width: @desktop-width) {
    width: 1050px;
    margin: 0 auto;
  }
}

.group-comment__title {
  margin-bottom: 22px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    margin-right: 150px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 119px;
  }
}

.group-comment__container {
  @media (min-width: @tablet-width) {
    flex-grow: 1;
  }
}

.group-comment__input {
  display: block;
  width: 100%;
  min-height: 142px;
}
