.nav-list__link {
  display: block;
  text-decoration: none;
  padding: 27px 0 27px 0;
}

.nav-list__span {
  display: inline-block;
  .font-basic();
  font-size: 17px;
  line-height: 24px;
  color: @color-dark;
  margin: 0 30px;
}

.nav-list__span--search {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.nav-list__span--desktop {
  font-size: 15px;
}

.nav-list__descr {
  .font-descr();
  font-size: 15px;
  line-height: 24px;
  color: @color-medium;
}

.nav-list {
  .list-reset();
  border-top: 1px solid #ececec;

  @media (min-width: @tablet-width) {
    border-top: none;
    display: flex;
    flex-wrap: wrap;
    width: 350px;
  }
}

.nav-list__item {
  border-bottom: 1px solid #ececec;
  display: flex;
  justify-content: center;

  @media (min-width: @tablet-width) {
    border-bottom: none;
    margin-right: 40px;
  }
}

.nav-list__item:nth-child(2n) {
  margin-right: 0;
}

.nav-list__item--desktop {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.nav-list__line {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    margin: 0;
    position: absolute;
    top: 115px;
    right: 0;
  }
}

.nav-list__item--search {
  margin-left: -64px;

  @media (min-width: @tablet-width) {
    position: absolute;
    right: 250px;
    top: 0;
    margin: 0;


    &::before {
      content: "";
      position: absolute;
      left: -33px;
      top: 0;
      width: 1px;
      height: 88px;
      background-color: fade(@color-dark, 10%);
    }
  }
}

.nav-list__item--cart {
  margin-left: -23px;

  @media (min-width: @tablet-width) {
    position: absolute;
    right: 0;
    top: 0;
    width: 221px;

    &::before {
      content: "";
      position: absolute;
      left: -29px;
      top: 0;
      width: 1px;
      height: 88px;
      background-color: fade(@color-dark, 10%);
    }
  }
}

.nav-list__icon {
  margin-right: 26px;
}

.nav-list__item--catalog {
  @media (min-width: @desktop-width) {
    position: absolute;
    left: 0;
    top: 0;

    &::before {
      content: "";
      position: absolute;
      width: 1px;
      height: 88px;
      background-color: fade(@color-dark, 10%);
      top: 0;
      right: -30px;
    }
  }
}

.nav-list__item--knitting {
  @media (min-width: @desktop-width) {
    position: absolute;
    left: 200px;
    top: 0;
  }
}
