.nav-list__link {
  display: block;
  text-decoration: none;
  padding: 27px 0 27px 0;
  margin: 0 30px;


  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 23px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 20px 0;
  }
}

.nav-list__link:hover .nav-list__span {
  color: rgba(0, 0, 0, 0.6);
}

.nav-list__link:active .nav-list__span {
  color: rgba(0, 0, 0, 0.3);
}


.nav-list__link--cart {
  @media (min-width: @tablet-width) {
    padding-top: 33px;
    padding-bottom: 24px;
  }
}

.nav-list__link--search {
  @media (min-width: @tablet-width) {
    padding-top: 33px;
  }
}

.nav-list__link--catalog {
  @media (min-width: @desktop-width) {
    padding-top: 34px;
  }
}

.nav-list__span {
  display: inline-block;
  .font-basic();
  font-size: 17px;
  line-height: 24px;
  color: @color-dark;
  margin-left: -18px;

  @media (min-width: @tablet-width) {
    margin: 0;
    font-size: 15px;
  }

  @media (min-width: @desktop-width) {
    font-size: 17px;
  }
}

.nav-list__span--search {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.nav-list__span--desktop {
  font-size: 15px;
}

.nav-list__descr {
  .font-descr();
  font-size: 15px;
  line-height: 24px;
  color: @color-medium;
}

.nav-list {
  .list-reset();
  border-top: 1px solid #ececec;
  
  @media (min-width: @tablet-width) {
    border-top: none;
    display: flex;
    flex-wrap: wrap;
    width: 365px;
  }

  @media (min-width: @desktop-width) {
    width: 380px;
  }
}

.nav-list__item {
  border-bottom: 1px solid #ececec;
  display: flex;
  justify-content: center;

  @media (min-width: @tablet-width) {
    border-bottom: none;
    margin-right: 40px;
  }
}

.nav-list__item--desktop {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    margin-right: 62px;
  }
}

.nav-list__line {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    margin: 0;
    position: absolute;
    top: 109px;
    right: 0;
  }
}

.nav-list__item--search {
  margin-left: -78px;

  @media (min-width: @tablet-width) {
    position: absolute;
    right: 250px;
    top: 0;
    margin: 0;


    &::before {
      content: "";
      position: absolute;
      left: -33px;
      top: 0;
      width: 1px;
      height: 88px;
      background-color: fade(@color-dark, 10%);
    }
  }
}

.nav-list__item--cart {
  margin-left: -34px;

  @media (min-width: @tablet-width) {
    position: absolute;
    right: 0;
    top: 0;
    width: 236px;
    margin-right: 0;

    &::before {
      content: "";
      position: absolute;
      left: -29px;
      top: 0;
      width: 1px;
      height: 88px;
      background-color: fade(@color-dark, 10%);
    }
  }
}

.nav-list__icon {
  display: inline-block;
  margin-right: 38px;
  fill: @color-dark;

  @media (min-width: @tablet-width) {
    margin-right: 28px;
  }
}

.nav-list__icon--search {
  @media (min-width: @tablet-width) {
    margin-right: 47px;
  }
}

.nav-list__item--catalog {
  @media (min-width: @desktop-width) {
    position: absolute;
    left: 0;
    top: 0;

    &::before {
      content: "";
      position: absolute;
      width: 1px;
      height: 88px;
      background-color: fade(@color-dark, 10%);
      top: 0;
      right: -37px;
    }
  }
}

.nav-list__item--knitting {
  @media (min-width: @desktop-width) {
    position: absolute;
    left: 221px;
    top: 13px;
  }
}

.nav-list__span--cart {
  @media (min-width: @tablet-width) {
    font-size: 17px;
  }
}

.nav-list__link:hover .nav-list__icon {
  fill: #63d1bb;
}

.nav-list__link:active .nav-list__icon {
  fill: fade(#63d1bb, 30%);
}
