.promo {
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 6px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-image: url("../img/zigzag-blocks-mobile.svg");
    background-repeat: repeat;

    @media (min-width: @tablet-width) {
      height: 17px;
      background-image: url("../img/zigzag-blocks-tablet.svg");
    }

    @media (min-width: @desktop-width) {
      height: 23px;
      background-image: url("../img/zigzag-blocks-desktop.svg");
    }
  }
}

.promo__wrapper {
  padding: 31px 0 42px 0;
  margin: 0 30px;

  @media (min-width: @tablet-width) {
    padding: 40px 0 69px 0;
    margin: 0 50px;
    display: grid;
    grid-template-columns: 1fr 192px 100px;
    gap: 0 42px;
  }

  @media (min-width: @desktop-width) {
    width: 1050px;
    margin: 0 auto;
    padding: 54px 0 96px 0;
    grid-template-columns: 100px 1fr 525px;
    gap: 0 43px;
  }
}

.promo__title {
  @media (min-width: @tablet-width) {
    grid-column: 1/3;
    margin-bottom: 37px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2/4;
    margin-bottom: 35px;
    z-index: 5;
    position: relative;
    grid-row: 1/2;
    align-self: center;
  }
}

.promo__span {
  .font-basic();
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: #63d1bb;
  display: block;
  margin-bottom: 17px;

  @media (min-width: @tablet-width) {
    grid-column: -1/-2;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/2;
    order: -1;
    align-self: center;
  }
}

.promo__block {
  grid-column: -1/-3;
  grid-row: 2/5;

  @media (min-width: @desktop-width) {
    grid-column: -1/-2;
    grid-row: 1/5;
  }
}

.promo__descr {
  .font-descr();
  font-size: 15px;
  line-height: 24px;
  color: @color-medium;
  margin: 0;
  margin-bottom: 28px;

  @media (min-width: @desktop-width) {
    grid-column: 2/3;
  }
}

.promo__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid #ececec;
}

.promo__list {
  margin: 0;
  margin-bottom: 28px;
  grid-column: 1/2;

  @media (min-width: @desktop-width) {
    grid-column: 2/3;
  }
}

.promo__term {
  .font-descr();
  font-size: 15px;
  line-height: 20px;
  color: @color-medium;
  margin: 0;
  padding: 10px 0;
}

.promo__cost {
  .font-basic();
  font-size: 17px;
  line-height: 24px;
  color: @color-medium;
  text-align: center;
  display: block;
  margin-bottom: 24px;
}

.promo__button {
  text-decoration: none;
  display: block;
}

.promo__contain {
  padding-top: 25px;

  @media (min-width: @desktop-width) {
    grid-column: 2/3;
    align-self: end;
  }
}
