.social {
  .list-reset();
  display: flex;
  padding: 26px 59px 28px 59px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: @tablet-width) {
    padding: 0;
    justify-content: start;
    border-bottom: none;
  }
}


.social__item:not(:last-child) {
  @media (min-width: @tablet-width) {
    margin-right: 29px;
  }
}
